name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build

  CD:
    needs: CI
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: make fonts directory
      run: |
        mkdir -p ./application/src/main/resources/fonts

    - name: download fonts for pdf
      working-directory: ./application/src/main/resources
      run: |
        wget ${{ secrets.KO_PUB_FONT_URL }} -O kopub_world.zip && \
        wget ${{ secrets.DEJAVU_SANS_FONT_URL }} -O dejavu_sans.zip

    - name: unzip fonts
      working-directory: ./application/src/main/resources
      run: |
        sudo apt install fastjar -y && fastjar xfv kopub_world.zip && \
        fastjar xfv dejavu_sans.zip && ls

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew build

    - name: build docker image
      run: docker build -t munchkin .

    - name: publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: munchkin
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        registry: ${{ secrets.DOCKER_REGISTRY }}
